body
    font: 14px "Century Gothic", Futura, sans-serif
    margin: 20px

%center-children-column
    display: flex
    flex-direction: column
    align-items: center
    flex-wrap: wrap
    position: absolute
    height: fit-content
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.vote-page
    @extend %center-children-column

.ballot-create-page
    @extend %center-children-column
    //#mails
    //    height: 150px

.vote-title
    color: #bcbdd0
    font-size: 35px
    text-align: center

.question
    margin: 10px
    font-size: 18px
    text-align: center

.candidates-grid
    margin-left: auto
    margin-right: auto
    width: 20em
    display: flex
    flex-direction: row
    flex-wrap: wrap

.candidate
    margin-left: auto
    margin-right: auto
    button
        border-radius: 15%
    button:hover
        background-color: #949191

.clicked
    button
        background-color: greenyellow
    button:hover
        background-color: green

.candidate-picture
    margin: 5px
    img
        border-radius: 50%

.submit-vote
    margin-top: 20px
    button
        padding: 10px
        background-color: lawngreen
        border-radius: 25%
    button:hover
        background-color: green

.top-bar
    top: 0
    width: available
    background-color: gray
    height: 40px
    margin: 0

.candidate-input
    display: flex
    flex-direction: column