body
    font: 14px "Century Gothic", Futura, sans-serif
    margin: 20px

.vote-title
    color: #bcbdd0
    font-size: 500%
    text-align: center

.question
    font-size: 200%
    text-align: center